In [1]:
import panas as pd

ModuleNotFoundError: No module named 'panas'

In [2]:
import pandas ad pd

SyntaxError: invalid syntax (<ipython-input-2-c76af52d8bfc>, line 1)

In [3]:
import pandas as pd

In [4]:
url="https://www.seoul.go.kr/coronaV/coronaStatus.do"

In [7]:
table=pd.read_html(url)
len(table)

8

In [8]:
table[0]

   종로구   중구  용산구  성동구  광진구  동대문구  중랑구  성북구  강북구  도봉구  노원구  은평구 서대문구
0   60   48   99   86   88   113  136  270  105  124  197  172   88
1  마포구  양천구  강서구  구로구  금천구  영등포구  동작구  관악구  서초구  강남구  송파구  강동구   기타
2  128  138  204  148   71   134  156  232  136  172  250  139  279

In [10]:
for i in range(3):
    print(table[i])

종로구   중구  용산구  성동구  광진구  동대문구  중랑구  성북구  강북구  도봉구  노원구  은평구 서대문구
0   60   48   99   86   88   113  136  270  105  124  197  172   88
1  마포구  양천구  강서구  구로구  금천구  영등포구  동작구  관악구  서초구  강남구  송파구  강동구   기타
2  128  138  204  148   71   134  156  232  136  172  250  139  279
    종로구   중구  용산구  성동구  광진구 동대문구
0    60   48   99   86   88  113
1   중랑구  성북구  강북구  도봉구  노원구  은평구
2   136  270  105  124  197  172
3  서대문구  마포구  양천구  강서구  구로구  금천구
4    88  128  138  204  148   71
5  영등포구  동작구  관악구  서초구  강남구  송파구
6   134  156  232  136  172  250
7   강동구   기타  NaN  NaN  NaN  NaN
8   139  279  NaN  NaN  NaN  NaN
     소계  해외접촉관련  동작구신학교관련  광화문집회관련  성북구사랑제일교회  순복음강북교회  여의도순복음교회  성북구체대입시관련  \
0  3773     386        22       83        592       18        28         36

   구로구아파트관련  금천축산업계관련  용인시우리제일교회  노원구빛가온교회  극단'산'관련  강동구어린이집  타 시·도확진자접촉자  \
0        12        22         72        20       30       17          143

     기타  경로확인중
0  1643    649

In [11]:
table[1]

    종로구   중구  용산구  성동구  광진구 동대문구
0    60   48   99   86   88  113
1   중랑구  성북구  강북구  도봉구  노원구  은평구
2   136  270  105  124  197  172
3  서대문구  마포구  양천구  강서구  구로구  금천구
4    88  128  138  204  148   71
5  영등포구  동작구  관악구  서초구  강남구  송파구
6   134  156  232  136  172  250
7   강동구   기타  NaN  NaN  NaN  NaN
8   139  279  NaN  NaN  NaN  NaN

In [12]:
table[2]

,소계,해외접촉관련,동작구신학교관련,광화문집회관련,성북구사랑제일교회,순복음강북교회,여의도순복음교회,성북구체대입시관련,구로구아파트관련,금천축산업계관련,용인시우리제일교회,노원구빛가온교회,극단'산'관련,강동구어린이집,타 시·도확진자접촉자,기타,경로확인중
0,3773,386,22,83,592,18,28,36,12,22,72,20,30,17,143,1643,649

In [13]:
table[2].transpose

<bound method DataFrame.transpose of      소계  해외접촉관련  동작구신학교관련  광화문집회관련  성북구사랑제일교회  순복음강북교회  여의도순복음교회  성북구체대입시관련  \
0  3773     386        22       83        592       18        28         36

   구로구아파트관련  금천축산업계관련  용인시우리제일교회  노원구빛가온교회  극단'산'관련  강동구어린이집  타 시·도확진자접촉자  \
0        12        22         72        20       30       17          143

     기타  경로확인중
0  1643    649  >

In [14]:
table[2].T

                0
소계           3773
해외접촉관련        386
동작구신학교관련       22
광화문집회관련        83
성북구사랑제일교회     592
순복음강북교회        18
여의도순복음교회       28
성북구체대입시관련      36
구로구아파트관련       12
금천축산업계관련       22
용인시우리제일교회      72
노원구빛가온교회       20
극단'산'관련        30
강동구어린이집        17
타 시·도확진자접촉자   143
기타           1643
경로확인중         649

In [15]:
table[3]

                                                   0
0  < 신종 코로나바이러스 감염증 예방 국민 행동수칙 >○ 기침 등 호흡기 증상이 있을...

In [16]:
table[4]

                                                   0
0  < 신종 코로나바이러스 감염증 예방 의료기관 행동수칙 >○ 호흡기 질환자 진료시 마...

In [17]:
table[5]

                                                   0
0  이 보도자료는 관련 발생 상황에 대한 정보를 신속 투명하게 공개하기 위한 것으로, ...

In [19]:
df = table[6]
df.shape

(3773, 7)

In [20]:
df.head()

     연번     환자    확진일 거주지 여행력   접촉력 퇴원현황
0  3773  19546  8.29.  기타   -  확인 중  NaN
1  3772  19533  8.29.  기타   -  확인 중  NaN
2  3771  19446  8.29.  기타   -  확인 중  NaN
3  3770  19484  8.29.  기타   -  확인 중  NaN
4  3769  19596  8.29.  기타   -  확인 중  NaN

In [24]:
last_day = df.loc[0, "확진일"]
last_day = last_day.replace(".", "_")
last_day

'8_29_'

In [25]:
file_name = f"seoul-covid19_{last_day}.csv"
file_name

'seoul-covid19_8_29_.csv'

In [29]:
df.to_csv(file_name, index=False)

In [30]:
pd.read_csv(file_name)

        연번     환자    확진일  거주지     여행력    접촉력 퇴원현황
0     3773  19546  8.29.   기타       -   확인 중  NaN
1     3772  19533  8.29.   기타       -   확인 중  NaN
2     3771  19446  8.29.   기타       -   확인 중  NaN
3     3770  19484  8.29.   기타       -   확인 중  NaN
4     3769  19596  8.29.   기타       -   확인 중  NaN
...    ...    ...    ...  ...     ...    ...  ...
3768     5      9  1.31.  성북구       -  #5 접촉   퇴원
3769     4      7  1.30.  마포구  중국 우한시  해외 접촉   퇴원
3770     3      6  1.30.  종로구       -  #3 접촉   퇴원
3771     2      5  1.30.  중랑구  중국 우한시  해외 접촉   퇴원
3772     1      2  1.24.  강서구  중국 우한시  해외 접촉   퇴원

[3773 rows x 7 columns]